@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model ExploreCalifornia.Models.Post

<h1>Create Blog Post</h1>

<fieldset>

    <form asp-action="Create" asp-controller="Blog">

        <div asp-validation-summary="ModelOnly" class="input-validation-error"></div>

        <p>
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" placeholder="Blog post title" />
            <span asp-validation-for="Title"></span>
        </p>

        <p>
            <label asp-for="Body"></label>
            <textarea asp-for="Body" class="form-control" placeholder="Blog post content"></textarea>
            <span asp-validation-for="Body"></span>
        </p>

        <p>
            <label asp-for="Author"></label>
            @{
                string author = User.Identity.Name;
                int at_index = author.IndexOf('@');
                if (at_index > 0) author = author.Substring(0, at_index);
                <input asp-for="Author" value="@author" class="form-control" placeholder="Author name" readonly></input>
            }
            <span asp-validation-for="Author"></span>
        </p>

        <p>
            <button type="submit">Create Post</button>
        </p>

    </form>

</fieldset>